* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
}

.App {
  max-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  height: 93vh;
}

.pp-thumbnail {
  margin-left: 5px;
  cursor: pointer;
}

.ss-window {
  background-color: white;
}