* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  z-index: 800;
  position: relative;
  height: 50px;
  padding: 8px;
  color: rgb(151, 228, 209);
  border-bottom: 1px solid rgb(151, 228, 209);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .logo h4 {
  margin: 0;
  margin-left: 0.5em;
}

header.inactive > nav {
  transform: translateY(-5%);
  visibility: hidden;
  opacity: 0;
}

header.active > nav {
  visibility: visible;
  opacity: 1;
}

header > nav {
  background-color: white;
  transition: all 0.5s ease-in;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0px;
  top: 0px;
  padding-top: 40px;
  z-index: 800;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav .nav-link { 
  text-align: center;
}

.nav-link.active {
  text-decoration: underline;
}

.menuToggle {
  position: relative;
  width: 35px;
  right: 0px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

header .block {
  display: flex;
  align-items: center;
}

header .block > h4 {
  font-size: 1.5em;
  margin: 0;
  margin-left: 0.7em;
  cursor: pointer;
}

header .block > h4 > a {
  font-size: inherit;
  margin: 0;
  margin-left: 0.75em;
}
/* Header styles end */

/* "Sidebar" styles */
.side {
  display: flex;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  background: white;
  padding: 0.5em;
  border-radius: 1px;
}

.side > h4 {
  margin: 0;
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(151, 228, 209);
  width: 2em;
  text-align: center;
}

.side > h4 > a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
/* "Sidebar" styles end */

/* Image Gallery styles */
.ig-prev,
.ig-next {
  position: fixed;
  top: 50%;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(151, 228, 209);
}

.ig-prev { left: 1rem; }
.ig-next { right: 1rem; }

.ig-gallery {
  height: calc(100% - 60px);
}

.ig-gallery > .swipable {
  height: 100%;
}

.ig-main {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.ig-thumbnail {
  width: 60px;
  height: 60px;
  margin-left: 3px;
}

.ig-dropdown {
  z-index: 500;
  position: absolute;
  width: 100%;
}

.ig-dropdown-control {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(151, 228, 209);
}

.ig-main .carousel {
  height: 100%;
  width: 100%;
}

.ig-main .carousel > .responsive-image {
  transition: opacity 0.1s ease-in-out;
}

.ig-main > .details {
  position: absolute;
  top: 29px;
  min-width: 50%;
  background-color: rgba(151, 228, 209, 0.8);
  color: white;
  font-size: 1em;
  padding: 20px;
  transition: transform 0.2s ease-out;
  right: 0px;
}

.ig-main > .details.inactive {
  transform: translateX(100%);
}

.ig-main > .details > div {
  display: inline-block;
}

.ig-main > .details > h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 0;
}

.ig-main .responsive-image-loading {
  width: 4rem;
  height: 4rem;
}

.ig-main .responsive-image-loading::after {
  width: 2.3rem;
  height: 2.3rem;
}
/* Image Gallery styles end */


/* Slider styles */
.ss-window {
  background-color: #ffffff;
  width: 100%;
}

.ss-active > div {
  border: 3px solid rgb(151, 228, 209)
}

.ss-slide {
  cursor: pointer;
  padding-top: 2px;
}

.ss-slide .responsive-image-loading {
  width: 10%;
  height: 10%;
}
.ss-slide .responsive-image-loading::after {
  width: 7%;
  height: 7%;
}
/* Slider styles end*/

/* Share Panel styles */
.share-panel {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  position: fixed;
  width: 300px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: white;
  color: rgb(151, 228, 209);
}

.share-panel > .links {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.share-panel > .links > li {
  padding: 20px;
  cursor: pointer;
  font-size: 1.7em;
  text-align: center;
  width: 110px;
}

.share-panel > .location {
  text-align: center;
}

.share-panel .caption {
    font-size: 0.5em;
}
/* SHare Panel styles end */


.fade-enter,
.fade-enter-active,
.fade-enter-done {
  opacity: 1;
}
.fade-exit,
.fade-exit-active,
.fade-exit-done {
  opacity: 0;
}

.responsive-image-loading {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 6px solid lightgrey;
  border-left: 6px solid rgb(151, 228, 209);
  border-radius: 50%;
  -webkit-animation: pp-spin 1s linear infinite;
  -o-animation: pp-spin 1s linear infinite;
  animation: pp-spin 1s linear infinite;
  position: absolute;
}

.responsive-image-loading::after {
  content: " ";
  border: 6px solid lightgrey;
  border-right: 6px solid rgb(151, 228, 209);
  border-radius: 50%;
  -webkit-animation: pp-after-spin 0.5s linear reverse infinite;
  -o-animation: pp-after-spin 0.5s linear reverse infinite;
  animation: pp-after-spin 0.5s linear reverse infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@keyframes pp-spin {
  to {transform: translate3d(-50%, -50%, 0) rotate(1turn);}
}

@keyframes pp-after-spin {
  to {transform: translate3d(-50%, -50%, 0) rotate(1turn);}
}

/* PC Styles */
@media only screen and (min-width: 768px) {
  
  header > .logo {
    border-right: 1px solid rgb(151, 228, 209);
    padding-right: 1em;
  }

  header > nav {
    flex-grow: 1;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
  }

  header h4 {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 1em;
  }

  header.inactive > nav {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  
  header.active > nav {
    visibility: visible;
    opacity: 1;
  }

  .menuToggle {
    display: none;
  }

  .ig-prev,
  .ig-next {
    font-size: 1.5em;
    z-index: 600;
  }

  .side {
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 90px;
    z-index: 500;
    background-color: transparent;
  }
  
  .side > h4 {
    margin-bottom: 0.5em;
  }

  .side > h4:hover {
    transform: scale(1.2)
  }

  .details-toggle.active {
    color: white;
  }

  .share-panel > li:hover::after {
    content: " ";
    width: 100%;
    length: 100%;
    background-color: red;
    top: 0px;
  }
}