* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.App {
  max-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  height: 93vh;
}

.pp-thumbnail {
  margin-left: 2px;
  cursor: pointer;
}

.ss-window {
  background-color: white;
}

.ss-active > div {
  border: 5px solid rgb(165, 218, 240)
}